*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #CA1016;
  padding: 1rem;

}
header a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
header .left{
  font-size: 30px;
}
header .right{
  font-size: 20px;
  text-align: end;
}
.add{
  margin-left: auto;
}